/* ------------------каталог------------------ */

#third-block {
    background-color: #060845;
}

video {
    border-radius: 50px;
    width: 414px;
    height: 274px;
}

/* форма карточки */
.card {
    width: 468px;
    height: 535px;
    border-radius: 50px;
    border: none;
    box-shadow: 16px 8px 25px 1px #001AFF;
    background-image: linear-gradient(90deg, rgba(3, 4, 37, 1) 0%, rgba(20, 22, 96, 1) 43%, rgba(19, 25, 215, 1) 100%);
}

/* форма-подсветка карточки */
.third-block-card-border {
    width: 472px;
    height: 540px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(20, 22, 96, 1) 35%, rgba(50, 58, 255, 1) 100%);
    border: none;
}

/* расположение элементов на карточке */
.card-body {
    width: 440px;
    margin: 0 auto;
}

/* кнопка "Заказать" */
.button-catalog {
    width: 284px;
    height: 63px;
    text-decoration: none;
    border-radius: 100px;
    border: none;
    box-shadow: 16px 8px 25px 1px #001AFF;
    transition: 500ms;
    background-image: linear-gradient(90deg, rgba(3, 4, 37, 1) 0%, rgba(20, 22, 96, 1) 43%, rgba(19, 25, 215, 1) 100%);
    transition: 500ms;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.button-catalog::after {
    width: 280px;
    height: 58px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'Заказать';
    font-size: 25px;
    color: #eee;
    border-radius: 100px;
    background-color: rgb(3, 4, 37);
    transition: 500ms;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.button-catalog:hover::after {
    font-size: 25px;
    background-color: transparent;
}

.button-catalog:focus {
    outline: none;
}

.button-catalog:active {
    transform: translateY(10px);
}

/* анимация изображений */
/* .img-animation {
    transition: 1s;
    display: block;
}

.img-animation:hover {
    transform: scale(1.06);
} */